<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BloomsdayApp-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFE0BC431BDE7AA4001ADAEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE0BC5B1BDE7AA4001ADAEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFE0BC661BDE7AA4001ADAEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
